.card {
    gap: 1em;
    margin-top: 3em;
    margin-bottom:2em;
    margin-left:1em;
    margin-right:1em;
border: 1px solid ;

}
.card1 {
    margin-top:15em;

}

.logo1 {
    width: 3em;
    height: 3em;
}

.wrapper{
    width: 500px;
    height: 500px;
    position: relative;
}

.imagenes img{
width: 39em;
height: 23em;
}


.box1{
display: flex;
margin: 5em;
justify-content: space-between;


}

.texto{
width: 30em;
height: 20em;
}

.texto {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
  }

.titulo {
 text-align: center;

}
@media only screen and (max-width: 600px) {
    .box1 {
        flex-direction: column;
        margin: 1em;
    }
    .imagenes img {
        width: 80%;
        height: 20%;
        margin: 1em;
    }
    .texto .parrafo {
        width: 80%;
    }
  }
